{% extends 'index.html' %}
{% load timetags %}

{% block content %}
{% if  data and user == data.user %}
<div class="container">
    <h3>City: {{ data.city }} </h3>
    <p>Date {{ data.weather.dt | convert_timestamp }}</p>
    Temp: {{ data.weather.main.temp }}<br>
    Temp feel: {{ data.weather.main.feels_like }}<br>
    Pressure: {{ data.weather.main.pressure }}<br>
    Humidity: {{ data.weather.main.humidity }}<br>
    Clouds: {{ data.weather.clouds.all }}<br>
    Wind Speed: {{ data.weather.wind.speed }}<br>
</div>
<br>
{% if data.forecast %}
<h4>Forecast</h4>
<div class="container">
    <div class="container text-left">
        <div class="row">
            {% for day in data.forecast.list %}
            <div class="col">
                Date: {{ day.dt | convert_timestamp }} <br>
                Temp: {{ day.main.temp }} {% if data.units == "metric" %} C {%else%} K {%endif%}<br>
                Temp feel: {{ day.main.feels_like }} {% if data.units == "metric" %} C {%else%} K {%endif%}<br>
                Pressure: {{ day.main.pressure }} hPa<br>
                Humidity: {{ day.main.humidity }} %<br>
                Clouds: {{ day.clouds.all }} %<br>
                Wind Speed: {{ day.wind.speed }} {% if data.units == "metric" %} m/s {%else%} mil/h {%endif%}<br>

            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% else %}
<div class="container text-center">
    <h2>Welcome to WeatherForecast by PMA</h2>
</div>
{% endif %}

{% endblock %}