{% extends 'index.html' %}
{% load timetags %}

{% block content %}
<br>
<div class="container">
    <h5>Provide city name or coordinates to check weather</h5>
    <form action="" id="city_form" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" name="city_form">Search</button>
    </form>
</div>
<br>
<br>
<br>
{% if data %}
<div class="container">
    <h3>City: {{ data.city }} </h3>
    <p>Weather for {{ data.weather.dt | convert_timestamp }} local time:</p>
    Temp: {{ data.weather.main.temp }}<br>
    Temp feel: {{ data.weather.main.feels_like }}<br>
    Pressure: {{ data.weather.main.pressure }}<br>
    Humidity: {{ data.weather.main.humidity }}<br>
    Clouds: {{ data.weather.clouds.all }}<br>
    Wind Speed: {{ data.weather.wind.speed }}<br>
    {% if user.is_authenticated %}
        <div class="container">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% else %}
                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>

        <form action="" method="post">
        {% csrf_token %}
        <button type="submit" form="city_form" name="favourite">Add to Favourite</button>
        </form>
    {% endif %}
</div>

{% if data.forecast %}
<div class="container">
    <h4>Forecast</h4>
{% for day in data.forecast.list %}
    Date: {{ day.dt | convert_timestamp }}<br>
    Temp: {{ day.main.temp }}<br>
    Temp feel: {{ day.main.feels_like }}<br>
    Pressure: {{ day.main.pressure }}<br>
    Humidity: {{ day.main.humidity }}<br>
    Clouds: {{ day.clouds.all }}<br>
    Wind Speed: {{ day.wind.speed }}<br>
    <br>
    <br>
    {% endfor %}
</div>
{% endif %}
{% endif %}

{% endblock %}